@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>På den här hemsidan hanteras personuppgifter. Dessa uppgifter hanteras för att vi ska kunna erbjuda leverans av varor samt för att säkerställa att
    användare är riktiga personer som är här för att använda vår tjänst för dess avsedda ändamål. De uppgifter som hanteras är för- och efternamn,
     telefonnummer, adress samt emailadress plus lösenord. Alla uppgifter vi hanterar kommer från användaren själv. Det enda som är obligatoriskt 
    vid kontoskapande är Email och lösenord, resten är frivilligt. Dock så måste samtliga fält fyllas i för att en användare ska kunna beställa en vara.
    Uppgifter kommer att hanteras så länge du är kund hos oss, men alla har hela tiden rätt och möjligheten att avsluta sitt konto samt radera all
     personlig data av kunden som hanteras.</p>
