@{
    ViewData["Title"] = "Hantering av personuppgifter";
}
<h1>@ViewData["Title"]</h1>

<p>På den här hemsidan hanteras personuppgifter. All information om dig som lagras används för att kunna leverera vår tjänst till dig. Ingen information
    som inte behövs kommer vi att spara. Här kan du läsa mer om vad för information som lagras om dig och varför. Samt vad du som användare har för 
    rättigheter.
</p>
<h3>Personuppgifter som vi hanterar</h3>
<ul>
    <li>
        För- och efternamn
    </li>
    <li>
        Address
    </li>
    <li>
        Kontaktuppgifter som Email och telefonnummer
    </li>
</ul>
<h3>Varför hanterar vi dina uppgifter och vad har du för rättigheter?</h3>
<p>
    Dessa uppgifter hanteras för att vi ska kunna erbjuda leverans av varor samt för att säkerställa att
    användare är riktiga personer som är här för att använda vår tjänst för dess avsedda ändamål. Alla uppgifter vi hanterar kommer från användaren själv. Det enda som är obligatoriskt
    vid kontoskapande är Email och lösenord, resten är frivilligt. Dock så måste samtliga uppgifter angivas för att en användare ska kunna beställa varor.
    Uppgifter kommer att hanteras så länge du är kund hos oss, men du har hela tiden rätten och möjligheten att avsluta ditt konto samt radera all
    personlig data om dig som hanteras.
</p>
<h3>Cookies</h3>
<p>
    Vi lagrar viss data i cookies för att tjänsten vi erbjuder ska fungera korrekt. Främst används cookies för att du ska kunna spara saker till din varukorg
    utan att vara rädd att den kommer tömmas, samt för att hålla dig inloggad.
</p>
